.php
{
    color: red;
}
.ess
{
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 3px 3px 3px -2px gray, -3px 3px 3px 2px gray;     
    padding-bottom:1px;
}
.ente
{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: blue;
}
td
{
    font-size: 20px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.info
{
    width: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: none;
    padding-left: 15px;
    height: 20px;;
}
.bout
{
    width: 150px;
    height: 30px;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: none;
    font-family: 'Lucida Calligraphy', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bout:hover
{
    transition-delay: 100ms;
    transition-duration: 100ms;
    background-color: aqua;
}
.lien
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700; 
}
.toi
{
    color: black;
    font-size: 18px;
    font-weight: 700; 
    text-decoration: none;
    text-align: right;
    padding-right: 15px;
    font-family: 'Lucida Calligraphy', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

